fastapi
uvicorn
gunicorn
python-dotenv
langchain
langchain-openai
chroma-hnswlib
chromadb
langchain-text-splitters
tiktoken
langchain-community
python-multipart
aiohttp
aiofiles
aiosqlite
pytest
pytest-asyncio
